<p><em>This post is part of a series. To see all published posts in the series see the tag <a href="/tags/elm-calculator-book/">"elm calculator book"</a>.
If you wish to support my work you can purchase the book on <a href="https://gum.co/NwMtt">gumroad</a>.</em></p>

<p><strong>This project uses Elm version 0.19</strong></p>

{{/*
<ul>
    <li><a href="{{ ref . "01-intro.md" }}">Part 1 - Introduction</a></li>
    <li><a href="{{ ref . "02-setup.md" }}">Part 2 - Project Setup</a></li>
    <li><a href="{{ ref . "03-styling.md" }}">Part 3 - Add CSS</a></li>
    <li><a href="{{ ref . "04-basic-operations.md" }}">Part 4 - Basic Operations</a></li>
    <li><a href="{{ ref . "05-decimals.md" }}">Part 5 - Adding Decimal Support</a></li>
    <li><a href="{{ ref . "06-negatives.md" }}">Part 6 - Supporting Negative Numbers</a></li>
    <li><a href="{{ ref . "07-dirty-state.md" }}">Part 7 - Add Dirty State</a></li>
    <li><a href="{{ ref . "08-keypad-input.md" }}">Part 8 - Support Keypad Input</a></li>
    <li><a href="{{ ref . "09-keypad-combos.md" }}">Part 9 - Combination Key Input</a></li>
    <li><a href="{{ ref . "10-testing.md" }}">Part 10 - Testing</a></li>
    <li><a href="{{ ref . "11-deployment.md" }}">Part 11 - Netlify Deployment</a></li>
</ul>
*/}}
<ul>
    <li>{{ if eq (.Get "num") "1"  }}<strong><em>{{end}}Part 1 - Introduction                {{ if eq (.Get "num") "1"  }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "2"  }}<strong><em>{{end}}Part 2 - Project Setup               {{ if eq (.Get "num") "2"  }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "3"  }}<strong><em>{{end}}Part 3 - Add CSS                     {{ if eq (.Get "num") "3"  }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "4"  }}<strong><em>{{end}}Part 4 - Basic Operations            {{ if eq (.Get "num") "4"  }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "5"  }}<strong><em>{{end}}Part 5 - Adding Decimal Support      {{ if eq (.Get "num") "5"  }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "6"  }}<strong><em>{{end}}Part 6 - Supporting Negative Numbers {{ if eq (.Get "num") "6"  }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "7"  }}<strong><em>{{end}}Part 7 - Add Dirty State             {{ if eq (.Get "num") "7"  }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "8"  }}<strong><em>{{end}}Part 8 - Support Keypad Input        {{ if eq (.Get "num") "8"  }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "9"  }}<strong><em>{{end}}Part 9 - Combination Key Input       {{ if eq (.Get "num") "9"  }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "10" }}<strong><em>{{end}}Part 10 - Testing                    {{ if eq (.Get "num") "10" }}(this post)</strong></em>{{ end }}</li>
    <li>{{ if eq (.Get "num") "11" }}<strong><em>{{end}}Part 11 - Netlify Deployment         {{ if eq (.Get "num") "11" }}(this post)</strong></em>{{ end }}</li>
</ul>
<hr/>
