<p><em>This post is part of a series. If you wish to support my work you can purchase the PDF book on <a href="https://gum.co/NwMtt">gumroad</a>.</em></p>

<p><strong>This project uses Elm version 0.19</strong></p>

<ul>
    <li>{{ if eq (.Get "num") "1"  }}<strong><em>{{ else }}<a href="{{ ref . "01-intro.md" }}">{{ end }}Part 1 - Introduction                   {{ if eq (.Get "num") "1"  }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "2"  }}<strong><em>{{ else }}<a href="{{ ref . "02-setup.md" }}">{{ end }}Part 2 - Project Setup                  {{ if eq (.Get "num") "2"  }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "3"  }}<strong><em>{{ else }}<a href="{{ ref . "03-styling.md" }}">{{ end }}Part 3 - Add CSS                      {{ if eq (.Get "num") "3"  }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "4"  }}<strong><em>{{ else }}<a href="{{ ref . "04-basic-operations.md" }}">{{ end }}Part 4 - Basic Operations    {{ if eq (.Get "num") "4"  }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "5"  }}<strong><em>{{ else }}<a href="{{ ref . "05-decimals.md" }}">{{ end }}Part 5 - Adding Decimal Support      {{ if eq (.Get "num") "5"  }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "6"  }}<strong><em>{{ else }}<a href="{{ ref . "06-negatives.md" }}">{{ end }}Part 6 - Supporting Negative Numbers{{ if eq (.Get "num") "6"  }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "7"  }}<strong><em>{{ else }}<a href="{{ ref . "07-dirty-state.md" }}">{{ end }}Part 7 - Add Dirty State          {{ if eq (.Get "num") "7"  }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "8"  }}<strong><em>{{ else }}<a href="{{ ref . "08-keypad-input.md" }}">{{ end }}Part 8 - Support Keypad Input    {{ if eq (.Get "num") "8"  }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "9"  }}<strong><em>{{ else }}<a href="{{ ref . "09-keypad-combos.md" }}">{{ end }}Part 9 - Combination Key Input  {{ if eq (.Get "num") "9"  }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "10" }}<strong><em>{{ else }}<a href="{{ ref . "10-testing.md" }}">{{ end }}Part 10 - Testing                     {{ if eq (.Get "num") "10" }}(this post){{ else }}</a>{{ end }}</li>
    <li>{{ if eq (.Get "num") "11" }}<strong><em>{{ else }}<a href="{{ ref . "11-deployment.md" }}">{{ end }}Part 11 - Netlify Deployment       {{ if eq (.Get "num") "11" }}(this post){{ else }}</a>{{ end }}</li>
</ul>
<hr/>
