<div style="width: 100%; text-align: center; clear: left; margin-bottom: 5em;">
    <img title="{{ .Get "title" }}" style="display: inline-block" src="/img/{{ .Get "title" }}-logo.svg" width="56px" alt="{{ .Get "title" }} Logo">
    <div>
        <span class="bg-green"  style="height: 3em; line-height: 3em; float: left; width: {{ .Get "width1" }}; display:inline-block;">Development</span>
        <span class="bg-yellow" style="height: 3em; line-height: 3em; float: left; width: {{ .Get "width2" }}; display:inline-block;">Verify/Debug</span>
    </div>
</div>